/* Shaka player styling */

.shaka-video-container * {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.shaka-video-container .shaka-current-time {
    font-size: 1.2em;
    font-weight: 500;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.shaka-play-button, .shaka-play-button[icon=play], .shaka-play-button[icon=pause] {
    transition: 200ms;
    max-height: 20px;
    max-width: 20px;
    padding: 35px !important;
    background-color: rgba(126, 126, 126, 0);
    border-radius: 35% !important;
}

.shaka-play-button[icon=play] {
    opacity: 0;
}

.shaka-play-button[icon=play]:hover {
    opacity: 1;
}

.shaka-play-button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.25);
    opacity: 1;
}

.shaka-video {
    max-height: 82.5vh;
    width: 100%;
    transition: 50ms;
 }

.lead-video-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    max-height: 82.5vh;
}

.chat-btn {
    display: none !important;
}

@media all and (display-mode: fullscreen) {
    .shaka-video,
    .lead-video-container {
        max-height: 100vh;
    }
    
    .chat-btn {
        display: inline-block !important;
    }
}

.video-container {
    height: auto;
}

.main-video-container {
    height: 80vh;
    min-height: 300px;
    max-height: 700px;
}

.wide-screen {
    max-width: 100%;
    width: 100%;
}

@media (max-width: 1024px) {
    .video-container {
        height: auto;
    }
}

/* Spinner */

.shaka-spinner {
    padding: 3%;
}

.material-icons {
    font-size: 1.5em;
}

/* time */

.shaka-current-time {
    font-size: 12px;
    letter-spacing: 0.2px;
}

.shaka-bottom-controls {
    padding-bottom: 20px;
}

.video-container-preview {
    background-color: black;
}

.video-container-preview .shaka-video {
    max-height: 500px;
}

/* Fix video clipping out of video container at thin wide screen sizes */
@media (max-height: 626px) {
    .video-container-preview .shaka-video {
        max-height: 80vh;
    }
}

.shaka-video-container {
    background-color: black;
}

.shaka-video-container-preview .shaka-video {
    max-height: 80vh;
}

@media all and (display-mode: fullscreen) {    
    .video-container-preview .shaka-video {
        max-height: 100% !important;
    }
}

.shaka-overflow-button-label,
.shaka-pip-button > .material-icons,
.shaka-resolution-button > .material-icons,
.shaka-language-button > .material-icons {
    cursor: pointer;
}

.shaka-range-element, .shaka-back-to-overflow-button, .explicit-resolution, .shaka-enable-abr-button, .shaka-chosen-item {
    cursor: pointer;
}

.shaka-fullscreen-button, .shaka-overflow-menu-button, .shaka-mute-button, .shaka-small-play-button {
    color: grey;
    transition: 200ms;
    font-size: 2em;
}

.shaka-fullscreen-button:hover, .shaka-overflow-menu-button:hover, .shaka-mute-button:hover, .shaka-small-play-button:hover {
    color: white;
}

.shaka-volume-bar-container {
    transition: 200ms;
    opacity: 0.3;
}

.shaka-volume-bar-container:hover {
    opacity: 1;
}

.shaka-overflow-menu {
    user-select: none !important;
    font-size: 0.8em !important;
    border-radius: 2.5px;
}

.shaka-overflow-menu span,
.shaka-show-controls-on-mouse-over span {
    font-size: 0.9em !important;
}

.shaka-skim-container {
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0) 80px);
    transition: opacity cubic-bezier(.4,0,.6,1) .2s;
}

.shaka-generic-button {
    color: grey;
    transition: 200ms;
    font-size: 2em;
}

.shaka-generic-button:hover {
    color: #fff;
}

.shaka-settings-menu {
    border-radius: 0px;
}

.shaka-displayed {
    font-size: 18px !important;
}

.shaka-overflow-menu button {
    padding: 5px 15px 5px 0;
}

.shaka-overflow-menu button:hover {
    cursor: pointer;
}

.video-over-player-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
}

.video-over-player-author {
    padding-top: 2px;
    font-size: 0.9em;
    font-weight: 500;
    color: grey;
    mix-blend-mode: difference;
}

.video-over-player-details {
    padding: 2.5% 3%;
    transition: 400ms;
    position: absolute;
}

.video-container .video-over-player-details,
.video-container.skip-ad-button {
    opacity: 1;
}

.video-container[style="cursor: none;"] .video-over-player-details {
    opacity: 0;
}

.cover .lead-video-container > video {
    object-fit: cover;
}

.cover .cover-btn {
    color: #dbdbdb;
}

.ad-playing .shaka-seek-bar-container {
    background: orange !important;
}

.ad-playing .shaka-range-element {
    color: #fff038;
    outline: #fff038;
}
.video-page-flex .hide-seek {
    position: absolute;
    display: none;
}

.ad-playing .video-over-player-ad-link {
    mix-blend-mode: difference;
    color: white;
    font-weight: 600;
    padding: 2px;
    margin-top: 10px;
    width: fit-content;
    font-size: 0.9em;
}

.ad-playing .hide-seek {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    height: 35px;
    z-index: 4;
}

.shaka-show-controls-on-mouse-over,
.shaka-show-controls-on-mouse-over > button {
    z-index: 7;
}

.ad-playing .video-over-player-details {
    z-index: 3;
}

.video-over-player-title, .video-over-player-author {
    user-select: none;
    width: fit-content;
}

.skip-ad-button {
    position: absolute;
    z-index: 4;
    bottom: 75px;
    right: 0;
    border: 0;
    border-radius: 2px 0 0 2px;
    width: 100px;
    padding: 5px;
    background-color: grey;
    color: #ffffff;
    font-weight: 600;
    transition: 400ms;
}

.skip-ad-button:hover {
    background-color: #b7b7b7;
}

/* Test chat over video */

.fullscreen-video-chat-container {
    position: absolute;
    width: 340px;
    z-index: 10;
    overflow: hidden;
    height: fit-content;
    left: 7.5%;
    transition: 150ms;
    top: -200%;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    opacity: 0;
}

.fullscreen-video-chats {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 65vh;
}

.fullscreen-video-chat-container .friend-chat-form {
    padding-left: 5px;
}

@media all and (display-mode: fullscreen) {
    
    .fullscreen-video-chat-container {
        opacity: 0.75;
        height: 60vh !important;
    }
    
    .fullscreen-video-chat-container:hover {
        opacity: 1;
    }
    
    .fullscreen-video-chats {
        height: 95%;
    }
    
    .chat-fullscreen-open .fullscreen-video-chat-container {
        top: 20%;
    }
}

.fullscreen-video-chats::-webkit-scrollbar {
    width: 1em;
}

.fullscreen-video-chats::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    border-radius: 0 5px 5px 0;
}

.fullscreen-video-chats::-webkit-scrollbar-thumb {
    background-color: #bababa;
    outline: 1px solid slategrey;
    border-radius: 0 5px 5px 0;
    outline: none;
}

.fullscreen-video-chats::-webkit-scrollbar-thumb:active {
    outline: none;
}

.fullscreen-video-chats::-webkit-scrollbar-thumb:hover {
    background-color: #939393;
}

.fullscreen-video-chats::-webkit-scrollbar-button:vertical:hover {
  color: rgb(155, 155, 155);
}

.delete-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.7em;
    height: 18px;
    background-color: rgb(255, 67, 67);
    color:  rgb(255, 67, 67);
    place-content: flex-start;
    border-radius: 10px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 25px;
    padding: 2.5px;
}

.delete-container .delete-video-text {
    overflow: hidden;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    width: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.delete-container:hover .delete-video-text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.delete-container:hover {
    color:  rgb(255, 255, 255);
    padding: 5px 7.5px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.delete-container .social-portal-times,
.delete-container .material-icons {
    font-size: 1.5em;
    color: white;
}

.delete-container .social-portal-times {
    padding-right: 5px;
    cursor: pointer;
}

.delete-container .material-icons {
    padding-left: 5px;
    padding-top: 1px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.chat-fullscreen-open .friendchat-chat-container-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    padding-bottom: 5px;
}

.shaka-controls-container {
    z-index: 5;
}

.product-placement-margin-container {
    margin: 10px;
    overflow: hidden;
}

.overlay-interaction-container {
    z-index: 10;
    overflow: hidden;
}

.freeze-opaque {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.freeze * {
    z-index: 10;
}

.next-freeze-button {
    position: absolute;
    right: 2.3%;
    bottom: 15%;
    z-index: 15;
}

.placement-hide {
    opacity: 0;
}

.product-placement-in-video {
    transition: 200ms;
}

.product-placement-in-video,
.placement-display-checkout-container-visible .placement-display-checkout {
    width: 160px;
    position: absolute;
    top: 5%;
    right: 0%;
    transition: 300ms;
    visibility: hidden;
    overflow: hidden;
}

.placement-visible {
    opacity: 1;
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
    visibility: visible;
}

.placement-visible img,
.placement-visible .placement-price-display,
.placement-visible Button,
.placement-visible .generic-success-active,
.placement-visible .err-status-active,
.placement-visible .transaction-button-container {
    opacity: 0.7;
}

.placement-visible:hover {
    background: rgba(255, 255, 255, 1);
}

.placement-visible:hover img,
.placement-visible:hover .placement-price-display,
.placement-visible:hover Button,
.placement-visible:hover .generic-success-active,
.placement-visible:hover .err-status-active,
.placement-visible:hover .transaction-button-container {
    opacity: 1;
}

.product-placement-product-title {
    font-size: 12px;
    max-height: 15px;
    overflow: hidden;
}

.product-placement-main-img {
    width: 100px;
    max-height: 35px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto;
}

.product-placement-img-container {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    max-width: -webkit-fill-available;
}

.maindashcontainer .product-placement-main-img,
.maindashcontainer .placement-display-checkout-container-visible .placement-display-checkout {
    max-height: 300px;
}

.sidebar-isopen ~ .maindashcontainer .product-placement-in-video,
.sidebar-isopen ~ .maindashcontainer .product-placement-main-img,
.sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .placement-display-checkout {
    max-height: 0px;
    width: 0px;
}

.sidebar-isopen ~ .maindashcontainer .product-placement-in-video,
.sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .placement-display-checkout {
    max-height: 160px;
}

.place-right,
.placement-display-checkout-container-visible .place-right {
    top: 5%;
    right: 10%;
}

.action-go-checkout-buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.price-add-to-cart-container {
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
}

.sidebar-isopen ~ .maindashcontainer .transaction-button-container .transaction-button,
.sidebar-isopen ~ .maindashcontainer .action-go-checkout-buttons-container .transaction-button {
    max-height: 25px;
    overflow: hidden;
}

@media (min-width: 540px) {
    .product-placement-in-video,
    .placement-display-checkout-container-visible .placement-display-checkout {
        width: 120px;
    }

    .product-placement-main-img {
        width: 50px;
        max-height: 35px;
        width: -webkit-fill-available;
        display: block;
    }
    .sidebar-isopen ~ .maindashcontainer .product-placement-main-img {
        width: -webkit-fill-available;
        display: block;
    }
}

@media (min-width: 580px) {
    .price-add-to-cart-container {
        gap: 2.5px;
    }

    .product-placement-product-title {
        font-size: 14px;
    }

    .place-right,
    .placement-display-checkout-container-visible .place-right {
        right: 10%;
    }

    .sidebar-isopen ~ .maindashcontainer .place-right,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .place-right {
        right: 10%;
    }

    .product-placement-in-video,
    .placement-display-checkout-container-visible .placement-display-checkout {
        width: 120px;
    }

    .product-placement-main-img {
        max-height: 75px;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-in-video,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .placement-display-checkout {
        max-height: 220px;
        width: 50px;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-main-img {
        max-height: 75px;
        display: none;
    }
}

@media(min-width: 720px) {
    .product-placement-product-title {
        font-size: 16px;
        max-height: 40px;
    }
    .place-right,
    .placement-display-checkout-container-visible .place-right {
        right: 7.5%;
    }

    .sidebar-isopen ~ .maindashcontainer .place-right,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .place-right {
        right: 12.5%;
    }

    .product-placement-in-video {
        width: 170px;
    }

    .product-placement-main-img {
        max-height: 80px;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-in-video,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .placement-display-checkout {
        max-height: 240px;
        width: 100px;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-main-img {
        max-height: 160px;
        display: none;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-product-title {
        max-height: 22px;
    }

    .sidebar-isopen ~ .maindashcontainer .transaction-button-container .transaction-button,
    .sidebar-isopen ~ .maindashcontainer .action-go-checkout-buttons-container .transaction-button {
        max-height: 100%;
        overflow: visible;
    }
    
}

@media(min-width: 860px) {
    .price-add-to-cart-container {
        flex-direction: row;
        gap: 0;
        margin-bottom: 3.5px;
    }

    .product-placement-product-title {
        font-size: 16px;
    }
    .place-right,
    .placement-display-checkout-container-visible .place-right {
        right: 5%;
    }

    .sidebar-isopen ~ .maindashcontainer .place-right,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .place-right {
        right: 10%;
    }
    
    .product-placement-in-video,
    .placement-display-checkout-container-visible .placement-display-checkout {
        width: 200px;
    }

    .product-placement-main-img {
        max-height: 120px;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-in-video,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .placement-display-checkout {
        max-height: 200px;
        width: 160px;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-main-img {
        display: none;
    }
}

@media(min-width: 1120px) {
    .product-placement-product-title {
        font-size: 16px;
    }
    .place-right,
    .placement-display-checkout-container-visible .place-right {
        right: 5%;
    }

    .sidebar-isopen ~ .maindashcontainer .place-right,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .place-right {
        right: 5%;
    }
    
    .product-placement-in-video,
    .placement-display-checkout-container-visible .placement-display-checkout {
        width: 220px;
    }

    .product-placement-main-img {
        max-height: 240px;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-in-video,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .placement-display-checkout {
        max-height: 380px;
        width: 220px;
    }

    .sidebar-isopen ~ .maindashcontainer .product-placement-main-img {
        max-height: 160px;
        display: block;
    }
}

@media (min-width: 1276px) {
    .product-placement-main-img {
        max-height: 140px;
    }
}

@media (min-width: 1336px) {
    .sidebar-isopen ~ .maindashcontainer .product-placement-main-img {
        max-height: 100px;
    }

    .product-placement-main-img {
        max-height: 220px;
    }
}

@media (min-width: 1460px) {
    .product-placement-main-img {
        max-height: 240px;
    }
}

@media (min-width: 1600px) {
    .sidebar-isopen ~ .maindashcontainer .product-placement-main-img {
        max-height: 220px;
    }
    .product-placement-main-img {
        max-height: 280px;
    }
}

@media (min-width: 1800px) {
    .sidebar-isopen ~ .maindashcontainer .product-placement-main-img {
        max-height: 320px;
    }
    .sidebar-isopen ~ .maindashcontainer .product-placement-in-video,
    .sidebar-isopen ~ .maindashcontainer .placement-display-checkout-container-visible .placement-display-checkout {
        max-height: 480px;
    }
}

.placement-display-checkout {
    visibility: visible;
    background-color: rgba(256, 256, 256, 0);
    border-radius: 15px;
    position: absolute;
}

.placement-display-checkout img,
.placement-display-checkout Button,
.placement-display-checkout .checkout-product-flex-container-minified,
.placement-display-checkout .product-options-select-dropdown,
.placement-display-checkout .generic-success-active,
.placement-display-checkout .err-status-active,
.placement-display-checkout .transaction-button-container {
    opacity: 0.7;
}

.placement-display-checkout:hover {
    background-color: rgba(256, 256, 256, 1);
}

.placement-display-checkout:hover img,
.placement-display-checkout:hover Button,
.placement-display-checkout:hover .checkout-product-flex-container-minified,
.placement-display-checkout:hover .product-options-select-dropdown,
.placement-display-checkout:hover .generic-success-active,
.placement-display-checkout:hover .err-status-active,
.placement-display-checkout:hover .transaction-button-container {
    opacity: 1 !important;
}

.product-placement-product-title {
    color: white;
    mix-blend-mode: difference;
    overflow: hidden;
}

.placement-info-container .generic-success-hidden,
.placement-info-container .err-status-hidden {
    padding: 0;
}

.placement-display-checkout-container-visible .place-right {
    visibility: visible;
}


/* rawEdit Component */

.editor-component {
    width: 100%;
    max-height: 600px;
    background-color: black;
    outline: none !important;
}

.search-tracks-container {
    max-width: -webkit-fill-available;
    gap: 10px;
}

.track-container {
    position: relative;
    width: 44%;
}

.track-container > #track-results {
    bottom: -5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 150px;
    overflow-y: auto;
    padding-right: 5px;
 }

.search-tracks {
    margin-left: 0;
    padding: 2.5px 15px;
    padding-left: 2.5px;
    margin-bottom: 5px;
}

.track-select {
    background-color: #ececec;
    padding: 2.5px 5px;
    border-radius: 15px;
    font-size: 0.85em;
    font-weight: 600;
    cursor: pointer;
}

.track-prompt {
    color: darkgrey;
}

.track-selected {
    font-size: 0.85em;
    font-weight: 600;
    padding-bottom: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.track-select-title {
    font-style: italic;
}

.search-track-btn {
    font-size: 1.25em;
    border-radius: 15px;
    border-width: 0px;
}

.track1-seek-and-player-container {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.track1-seekbar {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 5px 0;
    margin-top: -2.5px;
    position: relative;
}

.track1-seekbar:after {
    content:"";
    display:block;
    background:#c1c1c1;
    width:100%;
    height:5px;
    border-radius: 15px;
}

.track1-marker1 {
    position: absolute;
    content:"";
    display:block;
    background:rgb(80, 80, 80);
    width:12px;
    height:8px;
    border-radius: 15px;
    bottom: 3.75px;
}

.track1-marker1:hover {
    background:rgb(110, 110, 110);
}

.track-and-author-group {
    display: inline-block;
    background-color: #ececec;
    border-radius: 15px;
    padding: 2.5px 5px;
}