/* Shaka player styling */

.shaka-video-container * {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.shaka-video-container .shaka-current-time {
    font-size: 1.2em;
    font-weight: 500;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.shaka-play-button, .shaka-play-button[icon=play] {
    transition: 200ms;
    max-height: 20px;
    max-width: 20px;
    padding: 35px;
    background-color: rgba(126, 126, 126, 0);
    border-radius: 35%;
}

.shaka-play-button[icon=play] {
    opacity: 0;
}

.shaka-play-button[icon=play]:hover {
    opacity: 1;
}

.shaka-play-button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.25);
    opacity: 1;
}

.shaka-video {
    max-height: 82.5vh;
    width: 100%;
    transition: 50ms;
}

.chat-btn {
    display: none;
}

@media all and (display-mode: fullscreen) {
    .shaka-video {
        max-height: 100vh;
    }
    
    .chat-btn {
        display: inline-block;
    }
}

.video-container {
    height: auto;
}

.main-video-container {
    height: 80vh;
    min-height: 300px;
    max-height: 700px;
}

.wide-screen {
    max-width: 100%;
    width: 100%;
}

@media (max-width: 1024px) {
    .video-container {
        height: auto;
    }
}

/* Spinner */

.shaka-spinner {
    padding: 3%;
}

.material-icons {
    font-size: 1.5em;
}

/* time */

.shaka-current-time {
    font-size: 12px;
    letter-spacing: 0.2px;
}

.shaka-bottom-controls {
    padding-bottom: 20px;
}

.video-container-preview {
    background-color: black;
}

.video-container-preview .shaka-video {
    max-height: 500px;
}

/* Fix video clipping out of video container at thin wide screen sizes */
@media (max-height: 626px) {
    .video-container-preview .shaka-video {
        max-height: 80vh;
    }
}

.shaka-video-container {
    background-color: black;
}

.shaka-video-container-preview .shaka-video {
    max-height: 80vh;
}

.shaka-overflow-button-label,
.shaka-pip-button > .material-icons,
.shaka-resolution-button > .material-icons,
.shaka-language-button > .material-icons {
    cursor: pointer;
}

.shaka-range-element, .shaka-back-to-overflow-button, .explicit-resolution, .shaka-enable-abr-button, .shaka-chosen-item {
    cursor: pointer;
}

.shaka-fullscreen-button, .shaka-overflow-menu-button, .shaka-mute-button, .shaka-small-play-button {
    color: grey;
    transition: 200ms;
    font-size: 2em;
}

.shaka-fullscreen-button:hover, .shaka-overflow-menu-button:hover, .shaka-mute-button:hover, .shaka-small-play-button:hover {
    color: white;
}

.shaka-volume-bar-container {
    transition: 200ms;
    opacity: 0.3;
}

.shaka-volume-bar-container:hover {
    opacity: 1;
}

.shaka-overflow-menu {
    user-select: none !important;
    font-size: 0.8em !important;
}

.shaka-overflow-menu span,
.shaka-show-controls-on-mouse-over span {
    font-size: 0.9em !important;
}

.shaka-skim-container {
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0) 80px);
    transition: opacity cubic-bezier(.4,0,.6,1) .2s;
}

.shaka-generic-button {
    color: grey;
    transition: 200ms;
    font-size: 2em;
}

.shaka-generic-button:hover {
    color: #fff;
}

.shaka-settings-menu {
    border-radius: 0px;
}

.shaka-displayed {
    font-size: 18px !important;
}

.shaka-overflow-menu button {
    padding: 5px 15px 5px 0;
}

.shaka-overflow-menu button:hover {
    cursor: pointer;
}

.video-over-player-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
}

.video-over-player-author {
    padding-top: 2px;
    font-size: 0.9em;
    font-weight: 500;
    color: grey;
    mix-blend-mode: difference;
}

.video-over-player-details {
    padding: 2.5% 3%;
    transition: 400ms;
    position: absolute;
}

.video-container .video-over-player-details,
.video-container.skip-ad-button {
    opacity: 1;
}

.video-container[style="cursor: none;"] .video-over-player-details {
    opacity: 0;
}

.cover > video {
    object-fit: cover;
}

.cover .cover-btn {
    color: #dbdbdb;
}

.ad-playing .shaka-seek-bar-container {
    background: orange !important;
}

.ad-playing .shaka-range-element {
    color: #fff038;
    outline: #fff038;
}
.video-page-flex .hide-seek {
    position: absolute;
    display: none;
}

.ad-playing .video-over-player-ad-link {
    mix-blend-mode: difference;
    color: white;
    font-weight: 600;
    padding: 2px;
    margin-top: 10px;
    width: fit-content;
    font-size: 0.9em;
}

.ad-playing .hide-seek {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    height: 35px;
    z-index: 4;
}

.shaka-show-controls-on-mouse-over,
.shaka-show-controls-on-mouse-over > button {
    z-index: 7;
}

.ad-playing .video-over-player-details {
    z-index: 3;
}

.video-over-player-title, .video-over-player-author {
    user-select: none;
    width: fit-content;
}

.skip-ad-button {
    position: absolute;
    z-index: 4;
    bottom: 75px;
    right: 0;
    border: 0;
    border-radius: 2px 0 0 2px;
    width: 100px;
    padding: 5px;
    background-color: grey;
    color: #ffffff;
    font-weight: 600;
    transition: 400ms;
}

.skip-ad-button:hover {
    background-color: #b7b7b7;
}

/* Test chat over video */

.fullscreen-video-chat-container {
    position: absolute;
    width: 340px;
    z-index: 10;
    overflow: hidden;
    height: fit-content;
    left: 7.5%;
    transition: 150ms;
    top: 200%;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    opacity: 0;
}

.fullscreen-video-chats {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 55vh;
}

.fullscreen-video-chat-container .friend-chat-form {
    padding-left: 5px;
}

@media all and (display-mode: fullscreen) {
    
    .fullscreen-video-chat-container {
        opacity: 0.75;
        height: 60vh !important;
    }
    
    .fullscreen-video-chat-container:hover {
        opacity: 1;
    }
    
    .fullscreen-video-chats {
        height: 95%;
    }
    
    .chat-fullscreen-open .fullscreen-video-chat-container {
        top: 20%;
    }
}

.fullscreen-video-chats::-webkit-scrollbar {
    width: 1em;
}

.fullscreen-video-chats::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    border-radius: 0 5px 5px 0;
}

.fullscreen-video-chats::-webkit-scrollbar-thumb {
    background-color: #bababa;
    outline: 1px solid slategrey;
    border-radius: 0 5px 5px 0;
    outline: none;
}

.fullscreen-video-chats::-webkit-scrollbar-thumb:active {
    outline: none;
}

.fullscreen-video-chats::-webkit-scrollbar-thumb:hover {
    background-color: #939393;
}

.fullscreen-video-chats::-webkit-scrollbar-button:vertical:hover {
  color: rgb(155, 155, 155);
}