.shop-name {
    font-size: 1.2em;
}

.profile-shop {
    margin-bottom: 10px;
}

.off-black {
    color: #454545;
}

.weight600 {
    font-weight: 600;
}

.product-list-single {
    width: 100%;
}

.product-list-meta-name-edit-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.product-desc {
    width: 100%;
}

.edit-interact-product,
.shipping-classes-container-holder button,
.shipping-class-interact-button-container button {
    transition: 200ms;
    background: transparent;
    border-radius: 25px;
    margin: 5px;
    margin-top: 3px;
}

.shipping-classes-container-holder button {
    margin: 0px;
    border-radius: 8.5px;
}

.edit-interact-product svg {
    height: 15px !important;
    font-size: 0.7em;
}

.edit-interact-product span {
    color: grey;
    padding-right: 2.5px;
    font-size: 0.8em;
}

.shipping-class-interact-button-container {
    display: flex;
    justify-content: space-between;
}

.shipping-class-interact-button-container button {
    background: lightgrey;
}

.shipping-class-interact-button-container button:hover {
    background: #e2e2e2;
}

.edit-interact-product:hover,
.shipping-classes-container-holder button:hover {
    background: #c7c7c7;
}

.product-name-input,
.product-desc-input,
.product-price-input,
.product-quantity-input,
.product-option-descriptor-input,
#product-options-select-container {
    border-radius: 8.5px;
    border: 1px solid grey;
    padding: 5px;
    margin: 2.5px 0;
}

.product-name-input {
    font-weight: 600;
}

.product-desc-input {
    font-size: 0.85em;
    font-weight: 400;
    color: #292929;
}

.product-price-input,
.product-quantity-input,
.product-option-descriptor-input,
#product-options-select-container {
    padding: 2px 5px;
    margin: 0;
    color: #353535;
    font-size: 0.9em;
    font-weight: 600;
}

.product-price-input,
.product-option-descriptor-input,
#product-options-select-container {
    margin-bottom: 5px;
    width: -webkit-fill-available;
}

.product-desc-input {
    width: 100%;
}

.product-name-input {
    height: fit-content;
    width: inherit;
}

.product-name {
    padding: 10px 10px 0px 10px;
}

.product-description {
    padding: 0 10px;
    font-size: 0.85em;
    font-weight: 400;
    color: #292929;
}

.product-list-img-container img {
    width: -webkit-fill-available;
    padding: 2.5px;
}

.product-name {
    width: -webkit-fill-available;
}

.product-price-input-container-holder {
    display: flex;
    align-items: baseline;
}

.product-price-input-container-holder span {
    content:"$";
    margin-right: 1.5px;
    font-weight: 600;
    color: #6d6d6d;
}

.product-name-dummy {
    color: grey;
}

.quantity-container-input {
    display: flex;
    width: -webkit-fill-available;
}

.quantity-container-input .product-quantity-input {
    width: 100%;
}

.quantity-container-input span {
    align-self: center;
    font-size: 0.85em;
    font-weight: 600;
    padding-right: 2.5px;
    color: #6d6d6d;
    user-select: none;
}

.shop-col {
    flex: 0 0 25%;
    width: calc(98.4%/6);
    padding: 0;
    flex-basis: auto;
}

@media (max-width: 1800px) {
    .shop-col {
            width: calc(98.4%/5);
    }
}

@media (max-width: 1330px) {
    .maindashwide .shop-col {
        width: calc(98.4%/3);
    }
}

@media (max-width: 1266px) {
    .shop-col {
        width: calc(98.4%/4);
    }
}

@media (max-width: 1160px) {
    .maindashwide .shop-col {
        width: calc(98.4%/2);
    }
}

@media (max-width: 940px) {
    .shop-col {
        width: calc(98.4%/3);
    }
}

.shipping-classes-container-holder {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    background: #dbdbdb;
    border-radius: 8.5px;
    padding: 2.5px;
    margin-bottom: 1.5px;
}

#shipping-classes {
    border-radius: 8.5px;
    border: 1px solid grey;
    margin: 0;
    color: grey;
    font-size: 0.85em;
    width: -webkit-fill-available;
}

.shipping-portal {
    transition: 200ms;
    position: fixed;
    top: -100%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 25px;
    border-radius: 15px;
    z-index: 11;
}

.shipping-portal-visible {
    top: 17.5%;
    opacity: 1;
}

.shipping-class-setup-lead h5 {
    font-size: 0.9em;
}

.shipping-class-setup-rates-info p,
.shipping-class-setup-countries-info p,
.shipping-class-setup-info,
.shipping-class-setup-blurb {
    font-size: 0.75em;
    color: grey;
    font-weight: 600;
}

.shipping-class-setup-info {
    transition: 200ms;
    height: 15px;
    overflow: hidden;
}

.shipping-class-setup-info span {
    color: darkred;
}

.shipping-class-setup-info:hover {
    cursor: pointer;
}

.shipping-class-setup-info-open {
    height: 105px;
}

.shipping-class-setup-info ul {
    padding-left: 25px !important;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.shipping-classes-container-editor {
    margin-bottom: 2.5px;
}

.options-add-container,
.products-buttons-container {
    display: flex;
    align-items: center;
}

.options-add-container {
    margin-top: 1.5px;
}

.options-add-container span {
    font-size: 0.8em;
    font-weight: 600;
    padding-right: 2.5px;
    color: #6d6d6d;
    user-select: none;
}

#product-options-select-container {
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 0.78em;
}

.generic-product-meta-stack-container {
    display: block;
}

.shipping-rule-countries {
    min-height: 25px;
    margin-bottom: 5px;
    background: #f7f7f7;
    border: none;
    user-select: none;
    font-weight: 600;
    max-height: 150px;
    overflow-y: auto;
}

.shipping-rule-input {
    margin-bottom: 5px;
}

/* Dropdown select country to add to rules */

.react-select__control {
    height: 28px !important;
    min-height: 28px !important;
    border-radius: 8.5px !important;
    margin-bottom: 5px !important;
}

.react-select-add-country-container {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.react-select-add-country-container > button,
.react-add-all-remove-all-countries > button {
    height: 25px;
    background: lightgrey;
    margin-top: 1.5px;
}

.react-select-add-country-container > button:hover,
.react-add-all-remove-all-countries > button:hover {
    background: #e2e2e2;
}

.react-select-container {
    width: -webkit-fill-available;
}

.react-select__indicator {
    padding-top: 5px !important;
}

.react-select__indicator-separator {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.react-select__menu * {
    padding: 0px 0 !important;
    margin: 5px 0 !important;
    padding-left: 5px !important;
}

.react-select__menu *:first-child {
    margin-top: 2.5px !important;
}

.react-select__menu *:last-child {
    margin-bottom: 2.5px !important;
}

.react-select__value-container {
    max-height: 25px !important;
    position: unset !important;
}

.react-select__indicators {
    max-height: 25px !important;
    padding: 0 10px !important;
}

.react-select__menu {
    top: 20px !important;
}

.react-add-all-remove-all-countries {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.react-select__control {
    margin-bottom: 0 !important;
}

.info-blurb {
    font-size: 0.75em;
    transition: 200ms;
    color: grey;
    max-width: 700px;
}

.info-blurb:hover {
    color: #464646;
}

@media (max-width: 600px) {
    .shipping-portal-visible {
        top: 10%;
        max-height: 80vh;
        overflow-y: auto;
    }

    .react-select-add-country-container {
        flex-wrap: wrap;
    }

    .react-select-container {
        width: 100%;
    }

    .product-list-single {
        width: max-content;
    }
}

.save-current-class-container {
    display: block;
    padding: 6px;
 }

.save-current-class-container button {
    border-radius: 15px;
    font-size: 0.8em;
    height: 25px;
    background: lightgrey;
    margin-top: 1.5px;
}

.save-current-class-container button:hover {
    background: #e2e2e2;
}

.save-current-class-container span {
    font-size: 0.75em;
    padding: 5px;
    font-weight: 600;
    color: grey;
}

button.profile-menu-link {
    color:white;
    background: #b2b2b2 !important;
    font-size: 0.9em;
    padding: 1px 30px;
    border-radius: 2.5px 2.5px 5px 5px;
    font-weight: 600;
    margin: 2.5px;
    margin-bottom: 1px;
    transition: 200ms;
    text-decoration: none;
}

button.profile-menu-link:hover {
    background: #868686 !important;
    color: white;
    text-decoration: none;
}

.little-space-container > * {
    padding: 2.5px;
}

.little-space-container > *:first-child {
    padding-left: 0;
}

.little-space-container > *:last-child {
    padding-right: 0;
}

.little-space-container > span > input {
    margin-right: 2.5px;
}

.err-status {
    margin: 0 auto;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-size: 12px;
    color: #ff1e1e;
    font-weight: 500;
    background: #ffd2d2;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #ffc7c7;
    transition: 200ms;
    cursor: pointer;
    opacity: 0;
    transition: 200ms;
}

.err-status-active {
    opacity: 1 !important;
}