/*
.App {
  text-align: center;
}
*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Minireel Application */


html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    
    line-height: 1.2;
}

button {
    border-radius: 2px;
    border-width: 2px;
}

.button-yes,
.button-no {
    min-width: 50%;
}
/* transitions */

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 500ms, opacity 500ms linear;
}

/* Top Navigation Bar */ 

.navbar {
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: white;
    padding: 0.4rem 1rem 0.5rem 1rem;
}

.border-navigation {
    border-bottom: 1px solid #dadada;
}

.minireel-nav {
    display: block;
    height:16px; width:78px; margin-right: 15px; margin-left: 10px;
    margin-top: 3px;
}

@media (max-width: 617px) {
    .minireel-nav {
        margin-right: 10px;
    }
}

@media (max-width: 542px) {
    .minireel-nav {
        display: none !important;
        margin-right: 10px;
        text-align: center;
    }
    .search-field {
        width: 100% !important;
    }
}

.search-field {
    padding-left: 6px;
    width: 480px;
    overflow: hidden;
    margin-left:10px;
    border-radius: 7px 0 0 7px;
    font-size: 15.5px;
    line-height: 1.5;
}

.search-field:focus {
    outline: none;
}

input[type="search"] {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    
}

.flex-end {
    justify-content: flex-end;
}

.brand {
    max-width: 600px;
    width: 80%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 840px) {
    .brand {
        width: 60%;
    }
}

.search-form-flex {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}

.flex-grow1 {
    flex-grow: 1;
}

.flex-grow2 {
    flex-grow: 2;
}

.nowrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.nowrapbuttons {
    flex-wrap: nowrap;
}

ul li {
    margin-right: 7px;
    margin-left: 7px;
}

.favorites {
    height: 22px;
    width: 25px;
    margin-right: 10px;
}

.history {
    height: 22px;
    width: 26px;
    margin: 0 10px;
}

.notifications {
    height: 22px;
    width: 22px;
    margin: 0 10px;
}

.profile {
    height: 22px;
    width: 22px;
    margin: 0 10px;
}

.upload {
    height: 22px;
    width: 33px;
    margin-left: 10px;
}

.search {
    height: 15px; width: 20px;
    color: white;
    margin: 0 10px;
    transition: 200ms;
}

@media (max-width: 733px) {
    .search {
        margin: 0px;
    }
}

.searchbox {
    padding-bottom: 5px;
    margin-right: 10px;
    background-color: #a8a8a8;
    border-style: solid;
    border: 1px;
    border-radius: 0 7px 7px 0;
    transition: 200ms;
}

.searchbox:hover {
    cursor: pointer;
    background-color: #797979;
}

.searchbox:active {
    background-color: #000000;
}

/* main */

.main {
    padding: 10px 30px;
    transition: 200ms;
}

.main-with-sidebar {
    margin-left: 250px;
}

/* footer */




/* Interaction Sidebar */

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: 200ms;
    padding-top: 0px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.sidebar-open {
    width: 300px;
    padding-left: 8px;
    padding-right: 8px;
}

.sidebarx {
    height: 100%;
    width: 15px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0px;
    background: #e6e6e6; /* Old browsers */
    background: linear-gradient(to top, #d6d6d6 0%,#e6e6e6 100%);
    margin-top: 40px;
    transition: 200ms;
}

.sidebarx:hover {
    cursor: pointer;
}

.sidebarxclosed {
    left: 0;
}

.sidebarxopen {
    left: 300px;
    width: 6px;
    background-color: #e6e6e6;
}

.minimize-dash {
    width: 40px;
    height: 23px;
    background-color: #e6e6e6;
    margin: 0 0 2px 18px;
    padding: 6px 0;
    display: inline-block;
    border-bottom-left-radius: 5px;
}

.minimize-dash:hover {
    cursor: pointer;
}

.sidebarimg {
    z-index: 6;
    position: fixed;
    top: 50%;
    vertical-align: middle;
    width: 15px;
    height: 34px;
    padding: 1.5px;
    transition: 300ms;
}

.sidebarimg-open {
    width: 0px;
}


.user-search {
    width: 100%;
    border-radius: 7px;
    margin-left: 7px;
    font-size: 14.5px;
}

.clear {
    position: absolute;
}

.searchusers-text-input {
    font-size: 14px;
}

/* for X clear func on search input */
.text-input-wrapper {
    border:1px #959595 solid;
    border-radius: 10px;
    padding:1px 7px 1px 4px;
    display:inline-block;
    width: 100%;
    border-radius: 7px;
    margin-left: 7px;
    background: white;
}
.text-input-wrapper input {
    border:none;
    background:none;
    outline:none;
    margin:0 0;
    font:inherit;
}
.text-input-wrapper span {
    cursor:pointer;
    font-weight:bold;
    visibility:hidden;
    transition: 200ms;
    right:12px;
}

.clear-visible {
    visibility:visible !important;
}

.sidebarcontainer {
    width: 280px;
    direction: ltr;
}

.sidebar {
    direction: rtl;
}


.nonfriendchatcontainer,
.friendchatcontainer,
.user-search {
    direction: ltr;
    margin-left: 3px;
}

.sidebar::-webkit-scrollbar {
    width: 0.6em;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #f6f6f6;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #bababa;
  outline: 1px solid slategrey;
}

.siderbar::-webkit-scrollbar-thumb:hover {
    background-color: #939393;
}

.siderbar::-webkit-scrollbar-button:vertical:hover {
  color: rgb(155, 155, 155);
}

/* friend chat container */

.friend,
.otheruser,
.friend-single {
    margin: 2px 0px;
    padding: 2px 4px 4px 4px;
    border-radius: 10px;
    transition:100ms;
    border: 3px solid #fcfcfc;
    background-color: #fcfcfc;
}

.nofriends {
    margin: 2px 0px;
    padding: 2px 4px 4px 4px;
    border-radius: 10px;
    transition:100ms;
    border: 3px solid #fcfcfc;
    background-color: #fcfcfc;
    text-align: center;
    font-size: 12px;
    color: #848484;
}

.friend:hover,
.otheruser:hover,
.friend-single:hover {
    border: 3px solid white;
    background-color: white;
}

.friendavatar,
.otheruseravatar {
    width: 25px;
    height: 25px;
    border-radius: 7px;
    margin-right: 10px;
}

.friendname,
.otherusername {
    display: inline;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.friendname-small,
.otherusername-small {
    font-weight: 700;
}

.iswatching {
    font-size: 12px;
}

.iswatchingtitle {
    font-size: 13px;
}

.friendchat,
.otheruserchat {
    font-size: 12px;
}

/* Register form */

.minireel-register-logo {
    width: 80px;
    height: 88px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.minireel-register-logo-notext {
    width: 86px;
    height: 86px;
    margin-top: 40px;
    margin-bottom: 16px;
    justify-self: center;
    width:100%;
    display: block;
}

.minireel-dot-com-login {
    width: 140px;
}

.minireel-logo-center {
    text-align: center;
    margin-bottom: 20%;
}

.register-year {
    font-size: 46px;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
}

.registerform,
.loginform {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size:14px;
    padding: 0;
    margin: 20px 15px;
}

.form-control {
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 7px;
}

.registerform input,
.loginform input {
    padding-left: 8px;
}

label {
    margin-bottom: 2px;
}

.register-text {
    width: 90%;
    text-align: center;
    display: block;
    justify-self: center;
    margin: 0 auto;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 7px;
    font-weight: 500;
}

.userquickdash {
    margin-left:6px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.logout a {
    color: black;
    text-decoration: none;
}

.logout a:hover {
    text-decoration: underline;
}

.btn {
    padding: 1px 8px;
    background: linear-gradient(to right, rgba(243,158,151,1) 0%, rgba(252,146,138,1) 100%);
    border: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    background: linear-gradient(to right, rgb(239, 129, 120) 0%, rgb(239, 129, 120) 100%);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: linear-gradient(to right, rgb(255, 174, 168) 0%, rgb(255, 137, 127) 100%);
}

.loginbtn,
.registerbtn {
    margin-bottom: 10px;
}

.form-error {
    font-size: 12px;
    font-weight: 500;
    color: #f84242;
}

/* server errors */

.loginerror {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 12px;
    color: #ff1e1e;
    font-weight: 500;
    background: #ffd2d2;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #ffc7c7;
    transition: 200ms;
}

.loginerror:hover {
    background: #ffc0c0;
}

/* Video Dash */

.maindashcontainer {
    margin: 0px auto;
    max-width: 2280px;
}

.videodash {
    max-width: 2280px;
}

.maindash {
    margin: 50px auto;
    padding-left: 50px;
    transition: 200ms;
}

.maindashwide {
    padding-left: 360px;
}

.videothumb {
    margin-bottom: 5px;
    max-width: 302px;
    min-width: 190px;
    width: auto;
    height: 170px;
    object-fit: cover;
}

#videocontainer {
    max-width: 980px;
}

.mainvideotitle {
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    margin-bottom: 4px;
    padding: 0 2px;
    overflow: hidden;
}

.videogrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:auto;
}

.col {
    flex: 1;
    max-width: 302px;
    padding: 0;
    margin: 0 1.5px;
    flex-shrink: 2;
    flex-basis: 2px;
}

.videodesc {
    font-size: 12px;
    height: 40px;
    overflow:hidden;
}

.error-banner {
    width: 100%;
    background: linear-gradient(to right, rgb(255, 174, 168, 0.8) 0%, rgb(255, 137, 127, 0.8) 100%);
    position: fixed;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
}

.error-icon {
    margin-top: 5px;
    display: inline;
}

.error-close-icon {
    margin-top: 5px;
}

.error-close-icon:hover {
    cursor: pointer;
}

.error-message {
    display: inline-block;
    font-size: 14px;
    color: #000000;
    margin:7px;
}

/* forms */

.form-control {
    height: calc(1.75rem + 1px);
}

/* watchpage format */

.watchpage-title {
    margin-top: 0.75em;
    font-size: 1.5em;
}

.publisher-bar {
    margin-top: 1em;
    padding-bottom: 0.7em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #d6d6d6;
}

.publisher-avatar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.publisher-info {
    min-width: 195px;
}
.publisher-userandjoindate {
    
}

.publisher-video-interact {
    height: 25px;
    margin-bottom: 0.7em;
}
.publisher-video-interact,
.publisher-video-interact-block {
    display: flex;
    flex-direction: row;
}

.publisher-video-interact img,
.publisher-video-interact-block img {
    display: block;
    height: 18px;
    width: 20px;
    margin-left: 20px;
}

.thumbsup-interact,
.thumbsdown-interact {
    margin-right: 10px;
}

.publisher-username {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 0;
    padding-right: 10px;
}

.publisher-joindate {
    font-size: 0.75em;
    margin-left: 52px;
}

.publisher-followbutton {
    font-size: 16px;
    font-weight: 600;
    color: #f7796f;
    padding: 0px 8px;
    border: solid #f9958d 2px;
    border-radius: 7px;
    
}

.video-interact-border {
    margin: 0 20px;
    border: 1px solid #d6d6d6;
    height: 23px;
}

.more-options-ellipsis {
    margin: 0 20px;
    font-weight: 700;
}

.more-options-ellipsis:hover,
.favorites-interact,
.thumbsup-interact,
.thumbsdown-interact,
.share-interact,
.publisher-followbutton {
    cursor: pointer;
}

.video-description-upload-date {
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    font-size: 12px;
    text-align: right;
    
}

.video-description-info {
    padding-top: 0.7em;
    font-size: 14px;
    line-height: 1.4em;
    font-family: 'Lato', sans-serif;
}

/* social */

#socialContainer {
    transition: 200ms;
}

.friendchatcontainer,
.nonfriendchatcontainer {
    transition: 200ms;
    height:inherit;
    overflow-y: hidden;
}

.friendchatcontainer-closed,
.nonfriendchatcontainer-closed {
    height: 0px;
}

.friendchat-container,
.otheruserchat-container {
    margin: 2px 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.friendchat-chat-container,
.otheruserchat-chat-container {
    overflow: auto;
    direction: ltr;
    transition: 350ms;
    background-color: white;
}

.friendchat-chat-container-closed,
.otheruserchat-chat-container-closed {
    height: auto;
    overflow: hidden;
}

.friendchat-chat-container-open,
.otheruserchat-chat-container-open {
    height: 340px;
    overflow-y:auto;
}

.friendchat-chat-container-empty,
.otheruserchat-chat-container-empty {
    height: 0px;
}

.chat-log,
.chat-log-other {
    direction: ltr;
    transition: 1000ms;
}

.chat-log-closed {
    height: 0;
    overflow-y: hidden;
}


.author-of-chat-user,
.author-of-chat-other {
    font-size: 0.70em;
    margin-right: 5px;
    display:none;
}

.chat-log .content-of-chat div {
    width: fit-content;
    border-radius: 7px;
}

.chat-log .content-of-chat-long div {
    width: initial;
    overflow-wrap: break-word;
}

.friendchat-chat-container-closed .chat-log-user .content-of-chat-long div
.otheruserchat-chat-container-closed .chat-log-user .content-of-chat-long div {
    background-color: #eaeaea;
}

.friendchat-chat-container .chat-log-user .content-of-chat,
.friendchat-chat-container .chat-log-other .content-of-chat,
.otheruserchat-chat-container . chat-log-user . content-of-chat,
.otheruserchat-chat-container . chat-log-other . content-of-chat {
    transition: 200ms;
    background-color: transparent;
}

.friendchat-chat-container-closed .chat-log-user .content-of-chat,
.otheruserchat-chat-container-closed .chat-log-user .content-of-chat {
    transition: 400ms;
    background-color: #e3e3e3;
}

.friendchat-chat-container-closed .chat-log .content-of-chat-long,
.otheruserchat-chat-container-closed .chat-log .content-of-chat-long {
    height: 14px;
    overflow-y: hidden;
}

.friendchat-chat-container-closed .chat-log .typing-content-of-chat-long {
    overflow-y: hidden;
    overflow-x: hidden;
}

.typing-cell-visible .typing-content-of-chat-long {
    height: auto !important;
    width: initial !important;
    overflow-wrap: break-word !important;
}

.typing-cell-visible .typing-content-of-chat-long div {
    width: auto;
}

.friendchat-chat-container-closed .chat-log-user .content-of-chat:hover,
.otheruserchat-chat-container-closed .chat-log-user .content-of-chat:hover {
    background-color: #efefef;
    cursor:pointer;
}

.friendchat-chat-container-closed .chat-log-other .content-of-chat,
.otheruserchat-chat-container-closed .chat-log-other .content-of-chat {
    transition: 400ms;
    background-color: #75b6e6;
}

.friendchat-chat-container-closed .chat-log-other .content-of-chat:hover,
.otheruserchat-chat-container-closed .chat-log-other .content-of-chat:hover {
    background-color: #61ade5;
    cursor:pointer;
}


.friendchat-chat-container-closed .chat-log-user .content-of-chat div,
.friendchat-chat-container-closed .chat-log-other .content-of-chat div,
.otheruserchat-chat-container-closed .chat-log-user .content-of-chat div,
.otheruserchat-chat-container-closed .chat-log-other .content-of-chat div {
    padding: 0px 8px;
}

.friendchat-chat-container-open, .otheruserchat-chat-container-open {
    padding-right: 5px;
    visibility: visible;
}

.friendchat-chat-container-open .chat-log-user .content-of-chat div,
.otheruserchat-chat-container-open .chat-log-user .content-of-chat div {
    background-color: #e3e3e3;
}

.friendchat-chat-container-open .chat-log-user .content-of-chat div:hover,
.otheruserchat-chat-container-open .chat-log-user .content-of-chat div:hover {
    background-color: #eaeaea;
}

.friendchat-chat-container-open .chat-log-other .content-of-chat div,
.otheruserchat-chat-container-open .chat-log-other .content-of-chat div {
    background-color: #61ade5;
}

.friendchat-chat-container-open .chat-log-other .content-of-chat div:hover,
.otheruserchat-chat-container-open .chat-log-other .content-of-chat div:hover {
    background-color: #75b6e6;
}

.content-of-chat {
    border-radius: 5px;
}
.content-of-chat div {
    background-color: transparent;
    padding: 3px 8px;
    margin-bottom: 2.5px;
    transition: 200ms;
    font-weight: 400;
}

.chat-log-user .content-of-chat div {
    margin-left:auto;
    color: black;
}

.chat-log-other .content-of-chat div {
    color: aliceblue;
}

.author-of-chat-user {
    display: none;
}

.click-here-to-chat {
    font-style: italic;
}

.friend-chat-form,
.search-chat-form {
    margin-top: 0px;
}

.friend-chat-form-closed,
.search-chat-form-closed {
    height: 0px;
    transition: 200ms;
}

/* Fixes highlighting issue for users, chat message space overlaps without */
.friend-chat-form span,
.search-chat-form span {
    visibility: hidden;
}

.friend-chat-form-open span,
.search-chat-form-open span {
    visibility: visible;

}
/* Fix end */

.friend-chat-form-open,
.search-chat-form-open {
    margin-top: 3px;
    height: auto;
}

.search-textarea-chat-autosize::placeholder {
    font-style: italic;
}

.textarea-chat-autosize,
.search-textarea-chat-autosize {
    transition: 200ms;
    overflow: hidden;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 0.84em;
    font-family: 'Open Sans', sans-serif;
    width: 88.8%;
    resize: none;
    max-height: 200px;
}

.search-textarea-chat-autosize {
    width: 87%;
}

.textarea-chat-autosize-closed,
.search-textarea-chat-autosize-closed {
    height:0 !important;
    visibility: hidden;
}

.friend-chat-submit,
.search-chat-submit {
    overflow: hidden;
    position:absolute;
    visibility: none;
    transition: 50ms;
    border: 0px solid black;
    height: 0px;
    padding: 0px;
    border-radius:10px;
    font-size: 0.84em;
    background-color: #8fc0e3;
    width: auto;
}

.search-chat-submit {
    position: inherit;
}

.search-chat-submit img {
    display: block;
}

.friend-chat-submit:hover,
.search-chat-submit:hover {
    background-color: #a7d2f0;
    cursor:pointer;
}

.friend-chat-submit-open,
.search-chat-submit-open {
    display: inline;
    visibility: visible;
    height: 20px;
    margin-left: 3px;
    padding: 0px 5px 0px 5px;
    color: white;
    font-weight: 500;
}

.friend-requests-view {
    width: 100%;
    margin-left: 6px;
    margin-bottom: 4px;
}

.friend-requests-list-hidden {
    display: none;
    visibility: hidden;
}

.following-view,
.requests-view {
    width: 47%;
    border-radius: 10px;
    margin-bottom: 4px;
    font-size: 0.8em;
    transition: 200ms;
    font-family: 'Open Sans', sans-serif;
}

.following-view {
    margin: 0px 2% 0px 0px;
    background-color: rgb(221, 152, 187);
    border-width: 0;
    color: white;
    font-weight: 500;
}

.following-view:hover {
    background-color: rgb(224, 126, 176);
    cursor: pointer;
}

.requests-view {
    margin: 0px 2%;
    background-color: #77b6e5;
    border-width: 0;
    color: white;
    font-weight: 500;
}

.requests-view:hover {
    background-color: #a1cdef;
    cursor:pointer;
}

.search-users-results-container {
    margin-left: 6px;
    transition: 200ms;
    height: 0px;
    overflow-y: scroll;
    overflow-x:hidden;
}

.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.search-users-results-container-opened {
    height: 300px;
    margin-bottom: 4.5px;
}

.search-users-results-container::-webkit-scrollbar {
    width: 0.6em;
}

.search-users-results-container::-webkit-scrollbar-track {
    background-color: #f6f6f6;
}

.search-users-results-container::-webkit-scrollbar-thumb {
    margin-top: 10px;
    background-color: #bababa;
    outline: 1px solid slategrey;
    border-radius: 5px 5px 5px 5px;
}

.search-users-results-container::-webkit-scrollbar-thumb:hover {
    background-color: #939393;
}

.search-users-results-container::-webkit-scrollbar-button:vertical:hover {
    color: rgb(155, 155, 155);
}

.searched-user-div {
    background-color: #fcfcfc;
    margin: 0.28em 0;
    border-radius: 5px;
    padding: 2px 3px;
    transition: 200ms;
    border-style: solid;
    border-width: 3px;
    border-color:#fcfcfc;
}

.searched-user-div:hover {
    background-color: white;
    border-color: #f6f6f6;
}

.user-request-div {
    font-size: 0.86em;
}

.searched-user-username-container {
    margin: 0.22em 0 0.22em 0;
}

.user-request-container {
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 2px 5px;
    font-weight: 500;
    margin: 5px 0;
    margin-left: 6px;
}

.user-request-actions {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
}

.user-request-befriend {
    color: black;
    background-color: rgb(148, 217, 169);
    border-radius: 7px;
    padding: 2px 4px;
    margin-top: 0.25em;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
    font-weight: 700;
    margin-right: 3px;
}

.user-request-befriend:hover {
    background-color: rgb(95, 203, 127);
    cursor: pointer;
}

.user-request-befriend:active {
    background-color: white;
}

.user-request-profile {
    background-color: rgb(245, 235, 179);
    border-radius: 7px;
    padding: 2px 4px;
    margin-top: 0.25em;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
    font-weight: 700;
    margin-right: 3px;
}

.user-request-profile:hover {
    background-color: rgb(227, 213, 127);
    cursor: pointer;
}

.user-request-profile:active {
    background-color: white;
}

.user-request-message {
    background-color: #8fc0e3;
    border-radius: 7px;
    padding: 2px 4px;
    margin-top: 0.25em;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
    font-weight: 700;
    margin-right: 3px;
}

.user-request-message:hover {
    background-color: #a7d2f0;
    cursor: pointer;
}

.user-request-message:active {
    background-color: white;
}

.user-request-block {
    background-color: rgb(255, 66, 41, 0.5);
    border-radius: 7px;
    padding: 2px 4px;
    margin-top: 0.25em;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
    font-weight: 700;
    margin-right: 3px;
}

.user-request-block:hover {
    background-color: rgb(255, 66, 41, 0.7);
    cursor: pointer;
}

.user-request-block:active {
    background-color: white;
}

.searched-user-avatar {
    width: 25px;
    height: 25px;
    border-radius: 7px;
    margin-right: 5px;
}

.searched-user-username {
    display: inline;
    font-size: 0.86em;
    font-weight: 500;
}

.request-and-block-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-weight: 700;
    margin: 0.12em 0;
    margin-bottom: 5px;
}

.request-and-block-nonfriend {
    justify-content: flex-start;
}

.request-and-block-nonfriend div {
    margin-right: 5px;
}

.request-and-block-nonfriend div:last-child {
    margin-right: 0;
}

.searched-user-send-friend-request {
    background-color: rgb(151, 209, 219, 0.5);
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.searched-user-send-friend-request:hover {
    background-color: rgb(151, 209, 219, 1);
    cursor: pointer;
}

.searched-user-send-friend-request:active {
    background-color: white;
}

.search-user-accept-friend-request {
    color: black;
    background-color: rgb(148, 217, 169);
    border-radius: 7px;
    padding: 2px 4px;
    margin-top: 0.25em;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.search-user-accept-friend-request:hover {
    background-color: rgb(95, 203, 127);
    cursor: pointer;
}

.search-user-accept-friend-request:active {
    background-color: white;
}

.searched-user-follow-request {
    background-color: rgb(221, 152, 187);
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.searched-user-follow-request:hover {
    background-color: rgb(224, 126, 176);
    cursor: pointer;
}

.searched-user-follow-request:active {
    background-color: white;
}

.search-user-pending-friend-request {
    color: white;
    background-color: rgb(108, 164, 173);
    border-radius: 7px;
    padding: 2px 4px;
    margin-top: 0.25em;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.search-user-pending-friend-request:hover {
    background-color: rgb(151, 209, 219, 1);
    cursor: pointer;
}
.search-profile-bump-container {
    margin: 0px;
    padding:0px;
    display:flex;
}

.search-profile-bump-container div {
    margin: 0 3px;
}

.search-user-bump {
    color: black;
    background-color: rgb(148, 217, 169);
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
    margin: 0 3px;
}

.search-user-bump-friend {
    color: black;
    background-color: rgb(148, 217, 169);
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.search-user-bump:hover,
.search-user-bump-friend:hover {
    background-color: rgb(95, 203, 127);
    cursor: pointer;
}

.search-user-bump:active,
.search-user-bump-friend:active {
    background-color: white;
}

.search-user-watch,
.search-user-watch-friend {
    color: black;
    background-color: #96a9e5;
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.search-user-watch {
    margin: 0 3px;
}

.search-user-watch:hover,
.search-user-watch-friend:hover {
    background-color: #b1c0f0;
    cursor: pointer;
}

.search-user-watch:active,
.search-user-watch-friend:active {
    background-color: white;
}

.search-user-profile {
    background-color: rgb(245, 235, 179);
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
    font-weight: 700;
}

.search-user-profile:hover {
    background-color: rgb(237, 219, 107);
    cursor: pointer;
}

.search-user-profile:active {
    background-color: white;
}

.searched-user-message {
    background-color: #8fc0e3;
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.searched-user-message:hover {
    background-color: #a7d2f0;
    cursor: pointer;
}

.searched-user-message:active {
    background-color: white;
}

.searched-user-block {
    background-color: rgb(255, 66, 41, 0.5);
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.searched-user-block:hover {
    background-color: rgb(255, 66, 41, 1);
    cursor: pointer;
}

.searched-user-block:active {
    background-color: white;
}

.searched-user-icon {
    margin-left: 2px;
    width: 9.5px;
    height: 9.5px;
}

.general-icon {
    margin: 0 4px;
    padding-bottom: 1px;
    width: 11.5px;
    height: 11.5px;
}

.searched-user-befriend {
    color: black;
    background-color: rgb(148, 217, 169);
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
    font-weight: 700;
    margin-right: 3px;
}

.searched-user-befriend:hover {
    background-color: rgb(95, 203, 127);
    cursor: pointer;
}

.searched-user-unfriend {
    color: black;
    background-color: rgb(255, 66, 41, 0.5);
    border-radius: 7px;
    padding: 2px 4px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
    font-weight: 700;
}

.searched-user-unfriend:hover {
    background-color: rgb(255, 66, 41, 0.7);
    cursor: pointer;
}

.circle-menu-icon {
    margin: 0 4px;
    padding-bottom: 2px;
    width: 14px;
    height: 14px;
}

.circle-menu-icon:hover {
    cursor:pointer;
}

.sendarrow-icon {
    margin: 1px;
    padding-bottom: 2px;
    width: auto;
    height:17px;
}

.searched-user-icon-block {
    margin-left: 2px;
    padding-bottom: 2px;
    width: 8.5px;
    height: 8.5px;
}

/* Dont worry, this is the only float in the css. It floats the dropdown menu to the right. Change if causes issue.
Other solutions would cause dropdown to show when component was hidden or not show actual dropdown if overflow was covered */
.search-user-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.search-user-dropdown-search {
    position: relative;
}

.load-more-users-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 80px;
    margin-top: 5px;
}
.load-more-users {
    margin:auto 0px;
    background-color: #d4d4d4;
    border: 30px;
    border-radius: 7px;
    padding: 2px 35px;
    font-size: 0.72em;
    transition: 200ms;
    user-select: none;
}

.prompt-spacing {
    padding: 2px 2px;
}
.prompt-background {
    background-color: white;
    border-radius: 5px;
}
.prompt-yesno-spacing {
    margin-top: 3px;
}
.opensans-thin {
    font-weight: 400;
}

.dropdown-content {
    display: none;
    position:fixed;
    background-color: #f0f0f0;
    top: 2px;
    right: 5px;
    width: 120px;
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 6px 6px;
    z-index: 20;
    font-size: 0.76em;
    font-weight: 700;
    border-radius: 5px;
}

.searchdropdownfix {
    position:absolute;
    z-index: 30;
}

.search-friend-border,
.search-nonfriend-border {
    color: white;
    height: 14px;
    font-size: 12px;
    color: white;
    background-color: #d4d4d4;
    border-radius: 10px;
    padding: 0 2px;
    margin: 0 auto;
    margin-bottom: 3px;
    width:60%;
    transition: 200ms;
}

.search-friend-border {
    margin-top: 3px;
}

.search-friend-border:hover,
.search-nonfriend-border:hover {
    background-color: #c7c7c7;
    cursor:pointer;
}

.search-friend-border
.friends-header,
.search-nonfriend-border
.nonfriends-header {
    display: inline;
    transition: 200ms;
    color: transparent;
    width: 100%;
    font-weight: 500;
}

.search-friend-border:hover
.friends-header,
.search-nonfriend-border:hover
.nonfriends-header {
    color: white;
}

.search-user-dropdown:hover .dropdown-content {
    display: block;
}

/* Fix last dropdown menu, cuts off due to overflow-y: hidden value on friends component
Cannot change position value of component as minimize functionality wont work
If user only has one friend, styling wont apply */
.friendchatcontainer div:last-child .friend .search-user-dropdown:hover:last-child .dropdown-content {
    top: -48px;
}

.friend-single .search-user-dropdown:hover .dropdown-content {
    margin-bottom: 30px;
    min-width: 240px;
    height: 48px;
    display: flex;
    overflow: visible;
}

.friend-single .search-user-dropdown:hover .prompt-spacing {
    display:inline-flex;
}

.friend-single .search-user-dropdown:hover .button-no,
.friend-single .search-user-dropdown:hover .button-yes {
    display: block;
    width: 30px;
    font-size: 10px;
    margin-top:0;
    height: 15px;
    clear: both;
}

.friend-single .search-user-dropdown:hover .opensans-thin {
    max-width:90px;
}

.friend-single:hover .dropdown-content-option {
    width: 60px;
}

.dropdown-content-option {
    display: block;
    border: none;
    margin: 2px 0;
    padding: 1px 2px;
    transition: 200ms;
    border-radius: 5px;
}

.dropdown-content-divider {
    height: 2px;
    background-color: #d4d4d4;
    border-radius:10px;
    border: solid 1px #d4d4d4;
    padding: 0 10px;
    margin: 6px 0;
}

.content-divider-thin {
    height: 1px;
    border-radius:10px;
    padding: 0 3px;
    margin: 2px 0;
}

.block-option-dropdown {
    color: #e25151;
}

.dropdown-content-option:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.dropdown-content-option:active {
    color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* Sidebar Footer   */

.sidebarfooter-loggedin {
    overflow-y: hidden;
}

.sidebarfooter-loggedin a {
    color: #acacac !important;
}
.sidebarfooter-loggedin:hover a {
    color: #5f5f5f !important;
}

.sidebarfooter, sidebarfooter-loggedin {
    transition: 200ms;
    padding: 0;
}

.sidebarfooter-list {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.footeritem {
    display: inline-block;
    margin: 0 6px;
    font-size: 12px;
    font-weight: 500;
}

.footeritem a {
    transition: 200ms;
    color: #5f5f5f;
}

.footeritem a:hover {
    text-decoration: none;
    color: #f39e97;
}

.copyright-minireel {
    font-size: 12px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: #9a9a9a;
    margin-bottom: 60px;
}

/* css anim */

@keyframes ldio-oo3b7d4nmnr-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(20px,0) }
   50%    { opacity: 0; transform: translate(20px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-oo3b7d4nmnr {
    0% { transform: translate(0,0) }
   50% { transform: translate(20px,0) }
  100% { transform: translate(0,0) }
}
.ldio-oo3b7d4nmnr div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 34px;
  left: 120px;
}
.ldio-oo3b7d4nmnr div:nth-child(1) {
  background: #000000;
  animation: ldio-oo3b7d4nmnr 1.6666666666666665s linear infinite;
  animation-delay: -0.8333333333333333s;
}
.ldio-oo3b7d4nmnr div:nth-child(2) {
  background: #000000;
  animation: ldio-oo3b7d4nmnr 1.6666666666666665s linear infinite;
  animation-delay: 0s;
}
.ldio-oo3b7d4nmnr div:nth-child(3) {
  background: #000000;
  animation: ldio-oo3b7d4nmnr-o 1.6666666666666665s linear infinite;
  animation-delay: -0.8333333333333333s;
}
.loadingio-spinner-dual-ball-m6fvn6j93c {
  width: 265px;
  height: 68px;
  overflow: hidden;
  background: none;
}

.loadingio-spinner-dual-ball {
    display: inline;
    position: absolute;
}

.ldio-oo3b7d4nmnr {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-oo3b7d4nmnr div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.search-users-relative-div {
    position: relative;
}

.spinner-search-holder,
.cover-search {
    transition: 200ms;
    visibility: hidden;
    opacity: 0;
    overflow-y: hidden;
}

/* Visibility of loading css anim that blocks new requests while old fetch request still running. Triggered by .spinner-search-holder-visible class */
.search-users-results-container-opened .spinner-search-holder-visible {
    visibility: visible;
    opacity: 1;
}

.search-users-results-container-opened .spinner-search-holder-visible .cover-search {
    visibility: visible;
    position: absolute;
    background: white;
    height: 68px;
    width: 100%;
    opacity: 0.25;
    z-index: 35;
}


/* typing cell */
/* Very specific changes made to ensure elements dont jitter around when typing cell is updated */

.typing-cell {
    display: none;
    opacity: 0;
}

.typing-cell .content-of-chat div {
    background-color: #85c0eb !important;
}

.typing-cell-visible {
    display: block;
    opacity: 1;
}

.friendchat-chat-container-closed .typing-cell,
.friendchat-chat-container-closed .typing-cell .content-of-chat {
    height: 14px !important;
    overflow-y: hidden;
    background-color: #85c0eb !important;
}

.friendchat-chat-container-closed .typing-cell {
    margin-bottom: 2.5px;
}

.friendchat-chat-container-closed .chat-log-other:nth-last-child(2) .content-of-chat-long,
.friendchat-chat-container-closed .chat-log-user:nth-last-child(2) .content-of-chat-long {
    margin-bottom: 2.5px !important;
}

.typing-cell-visible {
    border-radius: 5px;
}

.friendchat-chat-container-closed .typing-cell .content-of-chat div {
    width: 100% !important;
}
